.about__title {
  color: #f4f4f4;
  font-family: Ginora Sans;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: 74px;
  text-transform: capitalize;
}

.about__text {
  max-width: 470px;

  color: #b8b8b8;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about__link {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #99a9ff;
  font-family: Ginora Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.about_svg {
  width: 25px;
}

.about__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 565px;
  height: 380px;

  margin-top: 313px;
  padding-left: 80px;
}

.bgAbout__container {
  position: relative;
  max-width: 990px;
  margin: 0 auto;
}

.bg__about {
  position: absolute;
  left: 0;
  top: 0;
}

.bgAbout__small {
  position: absolute;
  right: 0;
  top: 50px;
}

.about__bg {
  background-image: url("../../../images/about-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  width: 572.497px;
  height: 156.548px;
  transform: rotate(-75deg);
  flex-shrink: 0;
}
