.section {
  padding: 20px 0;
}

.main__section {
  position: relative;

  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url("../images/big.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.about__section {
  padding-bottom: 200px;
}
